* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/1680/1050"); 
    
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;s
}

.buttons{
    margin: 30px 0;
    display: flex;
    gap: 20px;  

}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

#rock {
    background-color: #f44336;
    color: #fff;
}

#paper {
    background-color: #2196f3;
    color: #fff;
}

#scissors {
    background-color: #4caf50;
    color: #fff;
}

p{
    font-weight: bold;
    margin-bottom: 10px;
}

.myScore span {
    color: rgb(0, 255, 191)
}

.alexaScore span {
    color: rgb(255, 0, 0)
}